:root {
  --primary-color: #D11878;
  --primary-dark: #222;
  --primary-dark-faded: #999;
  --dark-color-font: #EFEFEF;
  --dark-color-bg: rgba(34,34,34, 0.95);
  --light-color-font: #111;
  --light-color-bg: rgba(255,255,255,0.95);
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
    margin: 0;
    min-height: 100vh;
}

#root.darkTheme {
  background: var(--primary-dark);
  color: var(--dark-color-font);
}
