:root {
  --title-main: #D11878;
  --faded: #999;
}
body {
  margin: 20px 40px 40px;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
    margin: 20px auto;
    max-width: 900px;
    display: grid;
    column-gap: 4.28571%;
    grid-auto-flow: row;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 4.28571%;
    grid-row-gap: 50px;
}

@media (max-width: 600px) {
  body {
    margin: 0 20px 40px;
  }
  #root {
    margin: 0 auto;
    display: block;
  }
}
